@font-face {
    font-family: 'Hack';
    src: url('Hack/HackNerdFontMono-Regular.ttf');
}

.menubtn {
  position: fixed;
  background: #0000;
  border-style: none;
  color: white;
  font-size: 2em;
  border-radius: 0.2em;
}
.menubtn:hover {
  background: #0404045e;
  transition: 0.2s;
}

ul {
  padding-left: 1em;
}

#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1d2021;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  float: left;
  box-shadow: inset 0 0 10px #00000070;
}

#sidebar div {
  padding-left: 2em;
}

#main {
  margin-left: 250px;
  transition: margin-left .5s;
  padding: 16px;
}

.code_block {
  font-family: Hack,monospace;
  margin-bottom: 0.5em;
  overflow: auto;

  border-radius: 1em;
  padding: 1em;
  background-color: #1d2021;
  border-width: 2px;
  border-color: #353535;
  border-style: solid;
  box-shadow: inset 0 0 10px #00000070;
}

.markdown_block {
  color: #aeab9d;
  padding-left: 1em;
}

.markdown_block code {
  background: #202020;
  padding: 0.2em;
  border-radius: 0.5em;

  border-width: 1px;
  border-color: #303030;
  border-style: solid;
}

.highlight {
  margin-left: 4em;
  margin-right: 4em;
}

.num {
  position: relative;
  text-align: right;
  width: 4em;
  display: inline-block;
  right: 1em;
  color: #5e5e5e;
}

.emojione {
	width: 1em;
	height; 1em;
}

body {
  font-family: "Helvetica";
  color: #e6e6e6 !important;
  background: #282828;
}

a {
  color: #458588;
}
