@font-face {
    font-family: 'Hack';
    src: url('Hack/HackNerdFontMono-Regular.ttf');
}

.code_block {
  font-family: Hack;
	margin-bottom: 0.5em;
}

.markdown_block {
	color: #aeab9d;
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	margin-left: 2em;
	box-shadow: 0 0 1em 0 #00000030;

	border-width: 1px;
	border-color: #303030;
	border-style: solid;
}

.markdown_block code {
	background: #202020;
	padding: 0.2em;
	border-radius: 0.5em;

	border-width: 1px;
	border-color: #303030;
	border-style: solid;
}

.content {
	margin-top: 4em;
	padding-left: 4em;
	padding-right: 4em;
}

.highlight {
	margin-left: 4em;
	margin-right: 4em;
}

.num {
	position: relative;
	text-align: right;
	width: 4em;
	display: inline-block;
	right: 1em;
	color: #5e5e5e;
}

body {
	font-family: "Helvetica";
	color: #e6e6e6 !important;
	background: #282828;
}
